* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --generic-background: #efefef;
    --oil-operating: #723636;
    --oil-retired: #4833e6;
    --oil-cancelled: #17dec0;
    --oil-construction: #eb8c2d;
    --oil-shelved: #af3bba;
    --oil-proposed: #22918f;
    --oil-mothballed: #38d515;
    --oil-idle: #c4eb28;
    --gas-operating: #37a923;
    --gas-retired: #1ecca6;
    --gas-cancelled: #ce2c2c;
    --gas-construction: #3b25e4;
    --gas-shelved: #bc15b7;
    --gas-proposed: #817931;
    --gas-mothballed: #9cc66c;
    --gas-idle: #eb379d;
    --shadow-color: rgb(151, 150, 150);

    --from-right: 10px;
    --from-bottom: 105px;
    --from-left: 10px;
    --from-top: 50px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#map-styles {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#main-layer-options {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    width: 120px;
    box-shadow: 0px 5px 5px var(--shadow-color);
}

#main-layer-options a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#main-layer-options a:last-child {
    border: none;
}

#main-layer-options a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#main-layer-options a.active {
    background-color: #3887be;
    color: #ffffff;
}

#main-layer-options a.active:hover {
    background: #3074a4;
}

/* styling conflict zones labels */
.conflict-zones-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(151, 150, 150);
    gap: 5px;
    bottom: var(--from-bottom);
    right: var(--from-right);
    background-color: #efefef;
}

.labels {
    display: flex;
    gap: 5px;
    align-items: center;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
    background-color: #b61b1b;
    border-radius: 50%;
}

.circle1 {
    height: 10px;
    width: 10px;
}

.circle2 {
    height: 14px;
    width: 14px;
}

.circle3 {
    height: 18px;
    width: 18px;
}

.circle4 {
    height: 22px;
    width: 22px;
}

.circle5 {
    height: 26px;
    width: 26px;
}

.start {
    margin-right: 10px;
}

.end {
    margin-left: 10px;
}

/* styles for pipelines labels  */
.labels-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 10px;
    position: absolute;
    background-color: var(--generic-background);
    border-radius: 5px;
    box-shadow: 0px 5px 5px var(--shadow-color);
    font-size: 0.8rem;
}

.labels-details div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.labels-details div label,
.labels-details div input,
.legends-inputs input,
.legends-inputs label,
#map-styles input,
#map-styles label {
    cursor: pointer;
}

#map-styles {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legends-inputs {
    height: 20px;
    overflow-x: auto;
    display: flex;
    gap: 5px;
    align-items: center;
}

.legends-inputs label {
    white-space: nowrap;
}

#oil-linestrings {
    bottom: var(--from-bottom);
    right: var(--from-right);
}

.status {
    grid-column: 1 / 3;
    text-align: center;
    border-bottom: thin solid rgb(197, 193, 193);
    padding-bottom: 5px;
}

.labels-details div div {
    height: 4px;
    width: 100%;
    display: inline-block;
}

#oil-linestrings .color-operating div {
    background-color: var(--oil-operating);
}

#oil-linestrings .color-retired div {
    background-color: var(--oil-retired);
}

#oil-linestrings .color-construction div {
    background-color: var(--oil-construction);
}

#oil-linestrings .color-shelved div {
    background-color: var(--oil-shelved);
}

#oil-linestrings .color-cancelled div {
    background-color: var(--oil-cancelled);
}

#oil-linestrings .color-mothballed div {
    background-color: var(--oil-mothballed);
}

#oil-linestrings .color-proposed div {
    background-color: var(--oil-proposed);
}

#oil-linestrings .color-idle div {
    background-color: var(--oil-idle);
}

/* for gas pipelines */
#gas-linestrings {
    bottom: var(--from-bottom);
    right: var(--from-right);
}

#gas-linestrings .color-operating div {
    background-color: var(--gas-operating);
}

#gas-linestrings .color-retired div {
    background-color: var(--gas-retired);
}

#gas-linestrings .color-construction div {
    background-color: var(--gas-construction);
}

#gas-linestrings .color-shelved div {
    background-color: var(--gas-shelved);
}

#gas-linestrings .color-cancelled div {
    background-color: var(--gas-cancelled);
}

#gas-linestrings .color-mothballed div {
    background-color: var(--gas-mothballed);
}

#gas-linestrings .color-proposed div {
    background-color: var(--gas-proposed);
}

#gas-linestrings .color-idle div {
    background-color: var(--gas-idle);
}

/* pipelines summary */
.pipelines-summary {
    display: flex;
    flex-direction: column;
    background-color: var(--generic-background);
    border-radius: 5px;
    box-shadow: 0px 5px 5px var(--shadow-color);
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: var(--from-top);
    left: var(--from-left);
}

.pipelines-summary .total {
    grid-column: 1 / 3;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.pipelines-summary .table {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.pipelines-summary .table .value {
    display: flex;
    justify-content: flex-end;
}

/* hide */
.hide {
    transform: scale(0);
}

/* Legends styling  */
#show-legends {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
    right: var(--from-right);
    gap: 10px;
    background-color: var(--generic-background);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px var(--shadow-color);
}

.legend-header {
    display: flex;
    justify-content: center;
    border-bottom: thin solid rgb(214, 205, 205);
    padding-bottom: 5px;
}

/* popUp styling  */
.pop-up {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 200px;
    height: 400px;
    overflow: auto;
}

.pop-up .title {
    font-size: 1.2rem;
    font-weight: bold;
}

/* styleing for mapbox popup  */
.mapboxgl-popup-content {
    opacity: 0.8;
}

/* style for copyright  */
.copyright {
    position: absolute;
    bottom: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}


/* styling for data credit  */
.credits {
    padding: 3px;
    font-size: 0.8rem;
}

.copyright p a,
.credits p a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.copyright p a:hover,
.credits p a:hover {
    text-decoration: underline;
}

/* style for loading gif */
.loading {
    position: absolute;
    bottom: 50px;
    left: 30px;
    height: 30px;
    width: 30px;
}

@media (max-width: 1100px) {
    :root {
        --from-right: 10px;
        --from-bottom: 115px;
        --from-left: 10px;
        --from-top: 50px;
    }

    .mapboxgl-ctrl-bottom-left {
        display: none;
    }

    #show-legends {
        bottom: 35px;
    }

    .copyright {
        font-size: 0.7rem;
        padding-right: 20px;
    }

    .credits {
        font-size: 0.6rem;
        padding: 1px;
    }
}

@media (max-width: 600px) {
    :root {
        --from-right: 5px;
        --from-bottom: 95px;
        --from-left: 5px;
        --from-top: 30px;
    }

    #map-styles {
        padding: 5px;
        font-size: 0.7rem;
    }

    #main-layer-options {
        top: 0;
        right: 0;
        width: 100px;
    }

    #main-layer-options a {
        font-size: 0.7rem;
    }

    #show-legends {
        font-size: 0.7rem;
        padding: 5px;
        gap: 5px;
    }

    .labels-details {
        font-size: 0.7rem;
        padding: 5px;
    }

    .conflict-zones-detail {
        font-size: 0.7rem;
    }

    .legends-inputs {
        gap: 2px;
    }

    .pipelines-summary {
        padding: 5px;
        gap: 5px;
    }

    .pipelines-summary .total {
        font-size: 0.7rem;
    }

    .pipelines-summary .table {
        font-size: 0.6rem;
    }

    .copyright {
        font-size: 0.6rem;
    }

    .credits {
        font-size: 0.5rem;
    }

    .pop-up {
        padding: 0;
        gap: 15px;
        width: 170px;
        height: 300px;
    }

    .pop-up .title {
        font-size: 1rem;
    }

    .pop-up .infoContainer {
        font-size: 0.7rem;
    } 
}